*{
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    font-size: 24px;
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    animation-name: rotateY;
}

.options{
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}


.sqare{
    width: 250px;
    height: 250px;
    position: absolute;
    display: flex;
    justify-content: center;

}

.bg-red{
    background-color: red;
    animation-name: rotateZforw;
}

.bg-red::before {
    content: 'Back';
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}



.bg-blue{
    background-color: blue;
    animation-name: rotateZback;


}
.bg-blue::before{
    content: 'Front';
    position: absolute;
    backface-visibility: hidden;

}

@keyframes  rotateY{
    from{
      transform: rotateY(0deg);

    }
    to{
       transform: rotateY(360deg);

    }
}
@keyframes  rotateZforw{
    0%{
        transform: rotateZ(0deg) translateZ(-50px);

  }
    100%{
        transform: rotateZ(360deg) translateZ(-50px);
    }
}

@keyframes  rotateZback{
    0%{
        transform: rotateZ(360deg) translateZ(50px);
   }
    100%{
        transform: rotateZ(0deg) translateZ(50px);
    }
}